package ${package}.model.pojo.entity.${module};

import com.legend.module.core.model.pojo.entity.AbstractEntity;
import lombok.Data;
import lombok.EqualsAndHashCode;
import lombok.ToString;
#if(${hasDate})
import org.springframework.format.annotation.DateTimeFormat;
#end

import javax.persistence.*;
#if(${hasDate})
import java.util.Date;
#end

#if(${hasBigDecimal})
import java.math.BigDecimal;
#end


/**
 * ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 */
@EqualsAndHashCode(callSuper = true)
@Data
@ToString
@Table(name = "${tableName}")
public class ${className} extends AbstractEntity<${className}> {
	private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
	/**
     * $column.comments
     */
    #if("id" == $column.columnName)
    @Id
    @GeneratedValue(strategy = GenerationType.IDENTITY)
    #end
    #if($column.isSynthesis())
    @Column(name = "$column.columnName")
    #end
    #if("Date" == $column.attrType)
    @DateTimeFormat(pattern = "yyyy-MM-dd HH:mm:ss")
    #end
	private $column.attrType $column.attrname;
#end

}
