package ${package}.dao.mapper.${moduleName};

import ${package}.model.pojo.entity.${moduleName}.${className};
import ${package}.model.pojo.entity.${moduleName}.${className}Example;
import com.legend.module.dao.mapper.LegendMapper;
import org.apache.ibatis.annotations.Mapper;
import org.springframework.stereotype.Component;

/**
 * ${className}的mapper接口
 *
 * @author ${author}
 * @date ${datetime}
 */
@Mapper
@Component
public interface ${className}Mapper extends LegendMapper<${className}> {
    /**
     * 根据example筛选条件进行统计
     *
     * @param example example
     * @return count - 统计
     */
    long countByExample(${className}Example example);
}