package ${package}.service.${moduleName};


import ${package}.entity.${moduleName}.${className};
import com.legend.module.core.service.core.LegendService;

/**
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface ${className}Service extends LegendService<${className}> {

}