package ${package}.${moduleName}.service.impl;

        import ${package}.dao.mapper.${moduleName}.${className}Mapper;
        import ${package}.entity.${moduleName}.${className};
        import ${package}.entity.${moduleName}.${className}Example;
        import ${package}.service.${moduleName}.${className}Service;
        import com.legend.module.core.service.core.impl.AbstractLegendService;
        import org.apache.commons.lang.StringUtils;
        import org.springframework.stereotype.Service;
        import org.springframework.transaction.annotation.Transactional;
        import tk.mybatis.mapper.common.Mapper;

        import javax.annotation.Resource;

/**
 * @author Administrator
 * @date 2018/3/9
 */
@Service
@Transactional(rollbackFor = Exception.class)
public class ${className}ServiceImpl extends AbstractLegendService<${className}> implements ${className}Service {

    @Resource
    private ${className}Mapper ${classname}Mapper;

    @Override
    public Mapper<${className}> getMapper() {
        return ${classname}Mapper;
    }

    @Override
    protected Object getExample(${className} ${classname}, String order, String sort) {
            ${className}Example example = new ${className}Example();
        if (StringUtils.isNotBlank(order)) {
            if (StringUtils.isNotBlank(sort)) {
                order = order.concat(" ").concat(sort);
            }
            example.setOrderByClause(order);
        }
            ${className}Example.Criteria criteria = example.createCriteria().andIsDeletedEqualTo(false);
        if (${classname} ==null){
            return example;
        }

        #foreach ($column in $columns)
            if (${classname}.get${column.attrName}() != null){
            criteria.and${column.attrName}EqualTo(${classname}.get${column.attrName}());
        }
        #end
        return example;
    }

}
